{{#if events}}
	{{#each events}}
		<article>
			{{#if this.titleUrl}}
				<h1><a href="{{this.titleUrl}}">{{this.title}}</a></h1>
			{{else}}
				<h1>{{this.title}}</h1>
			{{/if}}
			<p class="eventDate">{{this.date}}</p>
			{{#if this.locationUrl}}
				<p class="eventLocation"><a href="{{this.locationUrl}}">{{this.location}}</a></p>
			{{else}}
				<p class="eventLocation">{{this.location}}</p>
			{{/if}}
			<p class="eventDescription">{{this.description}}</p>
			{{#if this.url}}
				<p class="eventLink"><a href="{{this.url}}">More information</a></p>
			{{/if}}
		</article>
	{{/each}}
{{else}}
	<p class="noEvents">
		<em>There are no events scheduled at this time.</em>
	</p>
{{/if}}